<% provide :title, t("contact") %>
<h1><%= t("contact") %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a><%= link_to "contact page", "http://www.railstutorial.org/#contact"%></a>.
</p>
